<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"/>
　
<html lang="en">
<!--<head th:include="admin/header :: head(~{::title},~{::link},~{::script})">-->
<head>
<meta charset="UTF-8">
<!--    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    <title>Title</title>
</head>


<body>
<header th:replace="admin/header :: header"></header>

<div class="main">
<div id="admin_articleList" class="admin_articleList table-responsive">文章列表
    <table class="table table-bordered table-hover text-nowrap">
<!--        <tr th:if="${article.size()==0} ">-->
<!--            <td colspan="7">无数据</td>-->
<!--        </tr>-->
        <tr th:each="art,artStat:${article}">
            <td th:text="${art.id}" id="id"></td>
            <td th:text="${art.title}" id="title"></td>
            <td id="tag">
                <span th:each="tag,tagStat:${art['tags']}">
               <a th:href="@{'getArticleByTag/'+${tag.id}}" th:text="${tag.tagName}"></a>
                    <span  th:if="${tagStat.index < #lists.size(art['tags'])-1}">,</span>
                </span>
            </td>
<!--            <td id="content"><a th:href="@{'getArticle/'+${art.id}}">查看详细内容</a></td>-->
<!--            <td id="del"><a href="javascript:void(0);"  id="delbtn" class="btn btn-danger">删除</a> </td>-->
            <td id="updateBtn"><a th:href="@{'editArticle/'+${art.id}}">更新</a>/<a href="">删除</a> </td>
        </tr>
    </table></div>
</div>

</div>
</body>
</html>