.admin_articleList tr td{
    text-align: center;
}
.admin_articleList{
    position: relative;
    left: 200px;
    width:1576px;
    min-height: 763px;
    height: auto;
}

#title,#id,#content,#tag{
    padding-top: 18px;
}
.main{

    margin-top: 81px;
    margin-left: 57px;
    padding: 12px;
}
 .left-navbar ul{
     margin-top: 58px;
     width: 230px;
     font-weight: 300;
 }
.left-navbar a{
     text-decoration: none;
 }
